@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html, body {
  height: 100%;
}

main {
  padding: 30px;
  user-select: none;
  height: calc(100vh - 60px); 
}

header > span {
  font-size: 0.85rem;
  font-weight: 700;
  color: #6b778c;
  letter-spacing: 0.02rem;
}

header > h1 {
  color: #182b4d;
  font-size: 2rem;
  font-weight: 600;
  margin-top: 5px;
}

.columns {
  display: flex;
  gap: 15px;
  height: 100%; 
}

.column {
  position: relative;
  width: 100%;
  background-color: #f4f5f7;
  border-radius: 8px;
  height: 100%; 
  margin-bottom: 50px;
  display: block;
  flex-direction: column; 
}

.column__title {
  color: #4d5c76;
  font-size: 0.9rem;
  font-weight: 700;
  margin: 20px;
}

.column__highlight {
  border: 2px solid #2482ff;
  background-color: #a8bdff;
  height: calc(100% - 50px); 
  border-radius: 5px;
  transition: border 0.3s ease, background-color 0.3s ease;
  display: block;
  flex-direction: column;
}

.card:hover {
  background-color: #f9f9f9;
  cursor: pointer;
}

.card:focus {
  position: relative;
  border: none; 
  border-radius: 5px; 
  font-size: 0.9rem; 
  resize: none; 
  outline: none; 
  box-shadow: 0 0 0 3px rgba(37, 143, 255, 0.2); 
  transition: box-shadow 0.3s ease; 
}

.card {
  position: relative;
  padding: 12px 14px;
  width: 100%;
  min-height: 70px;
  max-height: 300px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #dfe1e6;
  font-size: 0.9rem;
  box-shadow: 0 2px 2px #dfe1e6;
  box-sizing: border-box; 
  font-weight: 500;
  color: #4d5c76;
  margin-bottom: 5px;
}

.button-container {
  position: absolute;
  top: 5px;
  right: 5px; 
  min-height: 25px;
  max-height: 25px;
}

.button-container button {
  min-height: 20px;
  max-height: 20px; 
  display: inline-block;
  padding: 2px 4px;
  font-size: 10px;
  text-align: center;
  text-decoration: none;
  border: 2px solid transparent; 
  color: #333; 
  background-color: #f0f0f0; 
  border-radius: 5px; 
  transition: all 0.3s ease; 
}

button:hover {
  cursor: pointer;
  border-color: #3498db; 
  color: #3498db; 
  background-color: #e0e0e0; 
}

.column__cards {
  padding: 4px;
  height: 100%;
  border-radius: 5px;
  border: 2px solid transparent;
  display: flex;
  flex-direction: column;
}

.placeholder {
  color: #999;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
